$circle-color: #000;
$nav-background: #2E2C36;
$triangle-color: #3D1EFA;
// button
$button-width: 293px;
$button-height: 64px;
// home
$logo-width: 505px;
$logo-height: 385px;
$home-ellipse-outer-width: 954px;
$home-ellipse-inner-width: 904px;
$home-ellipse-outer-height: 904px;
$home-ellipse-inner-height: 904px;
// page2
$ellipse-outer-width: 1576px;
$ellipse-outer-height: 338px;
$ellipse-middle-width: 1410px;
$ellipse-middle-height: 286px;
$ellipse-inner-width: 1228px;
$ellipse-inner-height: 242px;
$diagram-width: 1123px;
$diagram-height: 278px;
$svgLine-width: 2269.4px;
$svgLine-height: 364.7px;